{% extends '::layout.html.twig' %}

{% block title %}{{ project.name|capitalize }} site testine hoşgeldiniz | UserScan.com{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="content">
        <div class="well">
            <h2 class="fr">Adım 2 / 2</h2>
            <h2>Teşekkürler {{ tester.name }},</h2>
            <br>
            <h4>Başlamadan önce;</h4>
            <ul>
                <li>Birazdan biligisayarınızda <b>ekran ve ses kaydı</b> yapılacaktır.</li>
                <li>Sizin tam anlamıyla ne düşündüğünüzü görmek istiyoruz. Bu yüzden yanlış bir şey yapmanız önemli değil.</li>
                <li>Düşüncülerinizi <b>konuşarak</b> dile getirmeniz test için çok önemli.</li>
                <li>Kayıt süresi ortalama 10 dakikadır. Tabiki 10 dakika boyunca test yapmak zorunda değilsiniz.</li>
            </ul>

            <div class="tac" style="margin-top: 20px;">
                {% if app.request.query.get('applet') == 'v2' %}
                    {% set applet = '/utilities/UserScanAppSignedv2.jar' %}
                {% else %}
                    {% set applet = '/utilities/UserScanAppSigned.jar' %}
                {% endif %}
                <applet code="applet.App.class" archive="{{ app.request.uriForPath(applet) }}" width=300 height=300>
                    <param name="java_arguments" value="-Xmx256m -Djava.net.preferIPv4Stack=true">
                    <param name="seperate_jvm" value="true">
                    <param name="java_version" value="1.7+">
                    <param name="project_id" value="{{ project.urlId }}">
                    <param name="tester_id" value="{{ tester.sessionId }}">
                </applet>
                <br class="clr">
                <a target="_blank" class="btn btn-info btn-large" href="{{ project.url|raw }}">Siteyi aç</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}