{% extends '::layout.html.twig' %}

{% block title %}{{ project.name|capitalize }} testine hoşgeldiniz | UserScan.com{% endblock %}

{% block body %}

<div class="container-fluid" style="margin: 0px auto; width: 40%;">
    <div class="span5">
        <div class="well">
            <h6 class="fr">Adım 1 / 2</h6>
            <h1>Merhaba,</h1>
            <h3>&nbsp;</h3>
            <h4><b>{{ project.name|capitalize }}</b> proje testine hoşgeldin. </h4>
            <br/>

            <form class="form-inline" method="post">
                <div class="input-line">
                    {{ form_label(testerForm.name, 'Adınız', { 'attr' : { 'class' : 'label-space' } }) }}
                    {{ form_widget(testerForm.name, { 'attr' : { 'class' : 'required' } }) }}
                </div>
                <div class="input-line">
                    {{ form_label(testerForm.email, 'Epostanız', { 'attr' : { 'class' : 'label-space' } }) }}
                    {{ form_widget(testerForm.email, { 'attr' : { 'class' : 'required' } }) }}
                </div>
                {{ form_rest(testerForm) }}
                <div class="input-line">
                    <input type="submit" class="btn btn-danger fr" value="Gönder">
                </div>
            </form>
            <br/>

        </div>
    </div>
</div>
{% endblock %}