{% extends '::layout.html.twig' %}

{% block title %}Şifre hatırlatma - UserScan{% endblock %}

{% block body %}
<div class="row show-grid" style="margin: 0px auto; width: 35%;">
    <div class="span5">
        <div class="well">
            {% if recover_email is not defined %}
                <h2>Şifre hatırlatma</h2>
                <form method="post" action="{{ path('forgot_password') }}" {{ form_enctype(forgotPasswordForm) }}>
                    {{ form_errors(forgotPasswordForm) }}
                    <div class="clearfix">
                        {{ form_errors(forgotPasswordForm.username) }}
                        {{ form_label(forgotPasswordForm.username, 'Eposta adresiniz') }}
                        {{ form_widget(forgotPasswordForm.username, { 'attr': {'class':'span4 required', 'placeholder':'Eposta'} }) }}
                    </div>
                    {{ form_rest(forgotPasswordForm) }}
                    <div class="clearfix">
                        <input type="submit" class="btn btn-info btn-large" value="Sıfırla">
                    </div>
                </form>
            {% else %}
                {% if mailer_result > 0 %}
                    <h2>Şifre hatırlatma talebiniz alındı</h2>
                    <p class="lead">
                        şifre değiştirme linki {{ recover_email }} adresinize gönderildi
                    </p>
                {% else %}
                    <h2>Şifre hatırlatma talebiniz gönderilemedi</h2>
                    <p class="lead">
                        Şifre değiştirme linkini tekrar gönderilmesi için <a href="javascript:window.location.reload();">tıklayın</a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}