{% extends '::layout.html.twig' %}

{% block title %}Yeni şifrenizi girin - UserScan.Com{% endblock %}

{% block body %}
<div class="inner">
    <div class="container">
    </div><!-- /container -->
</div>

<div class="row show-grid" ">
    <div class="span6">
        <div class="well">
                <h2>Yeni şifrenizi girin</h2>
                <form method="post" {{ form_enctype(recoverPasswordForm) }}>
                    {{ form_errors(recoverPasswordForm) }}
                    <div class="clearfix">
                        {{ form_errors(recoverPasswordForm.password.first) }}
                        {{ form_label(recoverPasswordForm.password.first, 'Şifreniz') }}
                        {{ form_widget(recoverPasswordForm.password.first, { 'attr': {'class':'span4', 'placeholder':'Şifre'} }) }}
                    </div>
                    <div class="clearfix">
                        {{ form_errors(recoverPasswordForm.password.second) }}
                        {{ form_label(recoverPasswordForm.password.second, 'Şifreniz Tekrar') }}
                        {{ form_widget(recoverPasswordForm.password.second, { 'attr': {'class':'span4', 'placeholder':'Şifre tekrar'} }) }}
                    </div>
                    {{ form_rest(recoverPasswordForm) }}
                    <div class="clearfix">
                        <input type="submit" class="btn success" value="Şifremi kaydet">
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}