<div class="modal-header" style="width: 320px;">
    <a href="#" class="close" data-dismiss="modal">×</a>
    <h3>Görev ekleme</h3>
</div>
<form id="createTask" method="post" action="{{ path('add_task', { 'project_id' : projectId }) }}" {{ form_enctype(taskForm) }}>
    <div class="modal-body">
        <div>
            {{ form_label(taskForm.description, 'Görev') }}
            {{ form_widget(taskForm.description, { 'attr': { 'class' : 'span4' } }) }}
        </div>
        <input type="hidden" name="project_id" value="{{ projectId }}">
        {{ form_rest(taskForm) }}
    </div>
    <div class="modal-footer">
        <span id="loading" class="hide">
            <img style="margin-top: 5px;" src="{{ asset('bundles/content/images/loading.gif') }}" alt="Bekleyin...">
        </span>
        <input type="submit" class="btn primary large" value="Ekle" />
    </div>
</form>
<script type="text/javascript">
    $(function() {
        $('#createTask').submit(function(e) {
            e.preventDefault();
            $('#loading').show();
            $.ajax({
                type: this.method,
                url: this.action,
                data: $(this).serialize(),
                dataType: 'json',
                error: function() {
                    alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                },
                success: function (data) {
                    if (data.status) {
                        window.location.reload();
                    } else {
                        alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                    }
                }
            });
        });
    });
</script>